body,
body * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
.container,
.row {
  margin: 0;
  padding: 0;
  width: 100vw;
  background-color: #0f0f0f
}

p:not(.slogan),
.left,
.icon,
.icon-list,
.logo,
h1,
.right-wrap,
.mainInfo {
  width: auto;
}

.container .row .left-wrap {
  padding-right: 0;
  padding-left: 0;
  -webkit-filter: drop-shadow(15px 0px 10px rgba(231, 231, 231, 0.5));
  filter: drop-shadow(7px 0px 30px rgba(195, 195, 195, 0.05));
}

.container .row .left-wrap .left {
  background-image: url(../img/background.webp);
  background-repeat: no-repeat;
  background-position: 50% 100%;
  height: 100vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
}

div.logo {
  background-image: url(../img/logo.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 30%;
  height: 28%;
  width: 28%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 576px) {
  .container .row .left-wrap .left {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
    height: 50vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
  }
}

.container .row .left-wrap .left p {
  font-family: "Muli", sans-serif;
  font-size: 3.5em;
  margin-right: 2em;
  font-weight: bold;
  color: white;
}

@media screen and (max-width: 576px) {
  .container .row .left-wrap .left p {
    font-size: 2em;
    margin: 0.5em 0 0.5em 0;
    -ms-flex-preferred-size: 10%;
    flex-basis: 10%;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .container .row .left-wrap .left p {
    font-size: 2.4em;
  }
}

.container .row .left-wrap .left p .small {
  vertical-align: text-top;
  font-size: 0.5em;
}

.container .right-wrap {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

@media screen and (max-width: 576px) {
  .container .right-wrap {
    height: 50vh;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.container .right-wrap .mainInfo {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

@media screen and (max-width: 576px) {
  .container .right-wrap .mainInfo {
    text-align: center;
  }
}

.container .right-wrap .mainInfo h1 {
  font-size: 3em;
  margin-left: 0.7em;
  font-weight: 900;
}

@media screen and (max-width: 576px) {
  .container .right-wrap .mainInfo h1 {
    margin-left: 0;
  }
}

.container .right-wrap .mainInfo .slogan {
  width: 50vw;
  margin-top: 1.5em;
  color: #8491a0;
  letter-spacing: 1.2px;
}

@media screen and (max-width: 576px) {
  .container .right-wrap .mainInfo .slogan {
    width: auto;
  }
}

.container .right-wrap .mainInfo .form-subscribe {
  margin-top: 0.5em;
}

@media screen and (max-width: 576px) {
  .container .right-wrap .mainInfo .form-subscribe {
    margin-left: 0;
  }
}

.container .right-wrap .mainInfo .form-subscribe .form {
  height: 40px;
  padding: 0;
  margin-right: -6px;
  border: 1px solid #e7e7e7;
  border-right: none;
  padding-left: 0.5em;
}

.container .right-wrap .mainInfo .form-subscribe {
  width: 120px;
  height: 40px;
  border: 1px solid #e7e7e7;
  border-top: 2px solid #e7e7e7;
  border-radius: 0 25px 25px 0;
  padding: 0;
  color: white;
}

@media screen and (max-width: 576px) {
  .container .right-wrap .mainInfo .form-subscribe {
    width: 100px;
  }
}

.container .right-wrap .mainInfo .form-subscribe {
  cursor: pointer;
}

.container .right-wrap .icon-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transform: translateY(-0.1em);
  transform: translateY(-0.1em);
  margin-right: auto;
  padding-top: 1.5em;
}

@media screen and (max-width: 576px) {
  .container .right-wrap .icon-list {
    -webkit-transform: translateY(-0.1em);
    transform: translateY(-0.1em);
    padding-left: 0;
  }
}

.container .right-wrap .icon-list .icon {
  margin-left: -0.2em;
  margin-right: 1.2em;
  font-size: 1.5em;
}

.container .right-wrap .icon-list .icon a {
  color: #e7e7e7;
  text-decoration: none;
}

.container .right-wrap .icon-list .icon a:hover{
  color: #c2263b;
}

.right-wrap,
.mainInfo,
.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

h1,
.slogan,
.form {
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
  color: #e7e7e7
}

.slogan,
.form-subscribe {
  margin-left: 2em;
}

@media screen and (max-width: 576px) {
  .slogan,
  .form-subscribe {
    margin-left: auto;
  }
}

.twitter::before {
  font-family: "Font Awesome 5 Brands";
  content: "\f099";
}

.facebook::before {
  font-family: "Font Awesome 5 Brands";
  content: "\f09a";
}

.instagram::before {
  font-family: "Font Awesome 5 Brands";
  content: "\f16d";
}

.youtube::before {
  font-family: "Font Awesome 5 Brands";
  content: "\f167";
}

.discord::before {
  font-family: "Font Awesome 5 Brands";
  content: "\f392";
}

.linkedin::before {
  font-family: "Font Awesome 5 Brands";
  content: "\f08c";
}

.tiktok::before {
  font-family: "Font Awesome 5 Brands";
  content: "\e07b";
}

.github::before {
  font-family: "Font Awesome 5 Brands";
  content: "\f09b";
}

.stackoverflow::before {
  font-family: "Font Awesome 5 Brands";
  content: "\f16c";
}

.rss::before {
  font-family: "Font Awesome 5 Brands";
  content: "\f143";
}